<section class='header'>
  <h1 class='header-text'>Journal</h1>
</section>

<main class="main">
  <section class = 'sidebar-container'>
    <div class="sidebar"></div>
  </section>

  <section class = 'content-container'>
    <div class="content"></div>
  </section>
</main>
