<h3>Add a feed</h3>
<ul class="errors"></ul>
<form>
  <label>Title
    <input
      type="text"
      name="feed[title]"
      placeholder="Title"
    >
  </label>

  <label>Url
    <input
      type="text"
      name="feed[url]"
      placeholder="http://..."
    >
  </label>

  <button class="add-feed">Submit</button>
</form>
