<ul class='posts-index'>
  <% collection.forEach(function(post) { %>
    <li>
      <a href='<%= "#posts/" + post.id %>'><%= post.get('title') %></a>
      <button class="delete-post" data-id='<%= post.get('id') %>'>Delete Post</button>
    </li>

  <% }) %>
</ul>

<a href='#posts/new'>New Post</a>
